body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

.list {
    list-style: none;
}

li {
    list-style: none;
}

.link {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1360px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}