/* Business Cases */

.cases {
   padding: 50px 0 47px;
}

.cases__desc {
   margin-bottom: 15px;
   font-size: 20px;
   line-height: 1.65;
   text-align: center;
   color: $footer-color;
}

.cases__subtitle {
   margin-bottom: 34px;
   font-weight: 300;
   font-size: 38px;
   line-height: 1.26;
   text-align: center;
   color: $footer-color;
}

.cases__text {
   margin-bottom: 39px;
   font-size: 18px;
   line-height: 1.56;
   text-align: center;
   color: $footer-color;
}

.cases__list {
   display: flex;
   flex-wrap: wrap;
   padding: 0 28px;
   row-gap: 7px;
   column-gap: 8px;
}

.cases__item {
   flex-basis: calc((100% - 24px) / 4);
}