.hero-wrapper {
  height: 768px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: $white-hero-color;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url(../images/hero-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  margin: 0 0 39px;
  font-weight: 300;
  font-size: 55px;
  text-transform: capitalize;
  line-height: calc(66 / 55);
}

.hero__slogan {
  font-size: 22px;
  line-height: calc(37 / 22);
  margin: 0 0 29px;
}

.hero__button {
  display: flex;
  min-width: 165px;
  min-height: 48px;
  padding: 10px 30px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  background-color: $green-corporate-color;
  color: $white-corporate-color;
  font-family: inherit;
  text-transform: capitalize;
  font-size: 18px;
  line-height: calc(28 / 18);
  border: none;
  border-radius: 5px;
  &:hover,
  &:focus {
    cursor: pointer;
  }
}

.hero__button-svg {
  width: 9px;
  height: 18px;
  fill: $white-corporate-color;
  margin-right: 5px;
}
