<section class="callback" id="contact">
  <h2 class="visually-hidden">Request Callback</h2>
  <div class="callback__wrapper">
    <img
      class="callback__image"
      src="./images/section-6.jpg"
      alt="Man with telephone working on the notebook"
      width="680"
    />
  </div>
  <div class="callback__box">
    <form
      class="request-callback"
      name="request-callback"
      autocomplete="off"
      method="POST"
      action="javascript:void(0);"
    >
      <p class="request-callback__title">Request Callback</p>
      <label class="request-callback__label" for="name"></label>
      <input
        class="request-callback__input"
        id="name"
        type="text"
        name="name"
        placeholder="Enter your name"
      />
      <label class="request-callback__label" for="mail"></label>
      <input
        class="request-callback__input"
        id="mail"
        type="email"
        name="mail"
        placeholder="Enter email*"
      />
      <button class="request-callback__button" type="submit">Send</button>
    </form>
  </div>
</section>
