<!-- Business cases -->
<section class="cases" id="cases">
  <div class="container">
    <p class="cases__desc">This is what we do</p>
    <h2 class="cases__subtitle">Business Cases</h2>
    <p class="cases__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>
    <ul class="list cases__list gallery">
      <li class="cases__item">
        <a href="./images/rectangle_x3.jpg"
          ><img src="./images/meeting.jpg" alt="meeting" width="320"
        /></a>
      </li>
      <li class="cases__item">
        <a href="./images/rectangle2_x3.jpg"
          ><img src="./images/note.jpg" alt="note and diagram" width="320"
        /></a>
      </li>
      <li class="cases__item">
        <a href="./images/rectangle3_x3.jpg"
          ><img src="./images/handshake.jpg" alt="handshake" width="320"
        /></a>
      </li>
      <li class="cases__item">
        <a href="./images/rectangle4_x3.jpg"
          ><img src="./images/hands.jpg" alt="hands" width="320"
        /></a>
      </li>
      <li class="cases__item">
        <a href="./images/rectangle5_x3.jpg"
          ><img src="./images/laptop.jpg" alt="laptop" width="320"
        /></a>
      </li>
      <li class="cases__item">
        <a href="./images/rectangle6_x3.jpg"
          ><img src="./images/skyscraper.jpg" alt="skyscraper" width="320"
        /></a>
      </li>
      <li class="cases__item">
        <a href="./images/rectangle7_x3.jpg"
          ><img src="./images/guy.jpg" alt="guy with glasses" width="320"
        /></a>
      </li>
      <li class="cases__item">
        <a href="./images/rectangle8_x3.jpg"
          ><img src="./images/colleagues.jpg" alt="colleagues" width="320"
        /></a>
      </li>
    </ul>
  </div>
</section>
