<!-- Business cases -->
      <section class="cases" id="cases">
        <div class="container">
          <p class="cases__desc">This is what we do</p>
          <h2 class="cases__subtitle">Business Cases</h2>
          <p class="cases__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, sapiente!
          </p>
          <ul class="list cases__list">
            <li class="cases__item">
              <img src="./images/meeting.jpg" alt="meeting" width="320" />
            </li>
            <li class="cases__item">
              <img src="./images/note.jpg" alt="note and diagram" width="320" />
            </li>
            <li class="cases__item">
              <img src="./images/handshake.jpg" alt="handshake" width="320" />
            </li>
            <li class="cases__item">
              <img src="./images/hands.jpg" alt="hands" width="320" />
            </li>
            <li class="cases__item">
              <img src="./images/laptop.jpg" alt="laptop" width="320" />
            </li>
            <li class="cases__item">
              <img src="./images/skyscraper.jpg" alt="skyscraper" width="320" />
            </li>
            <li class="cases__item">
              <img src="./images/guy.jpg" alt="guy with glasses" width="320" />
            </li>
            <li class="cases__item">
              <img src="./images/colleagues.jpg" alt="colleagues" width="320" />
            </li>
          </ul>
        </div>
      </section>