<!-- Header -->
<div class="header__wrapper">
  <header class="header" id="home">
    <div class="container">
      <nav class="header__navigation">
        <a class="header__company-logo" href="">
          <svg class="header__logo-svg">
            <use href="./images/sprite.svg#logo"></use>
          </svg>
          <p class="header__company-name">
            Finance <span class="header__company-name-part">ledger</span>
          </p>
        </a>
        <ul class="header__navigation-list">
          <li class="header__navigation-item">
            <a class="header__navigation-link" href="#">Home</a>
          </li>
          <li class="header__navigation-item">
            <a class="header__navigation-link" href="#about">About</a>
          </li>
          <li class="header__navigation-item">
            <a class="header__navigation-link" href="#cases">Cases</a>
          </li>
          <li class="header__navigation-item">
            <a class="header__navigation-link" href="#blog">Blog</a>
          </li>
          <li class="header__navigation-item">
            <a class="header__navigation-link" href="#contact">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
</div>
