      <!-- We provide -->
      <section lang="en" class="prov" id="about">
        <div class="container">
          <div class="prov__box">
            <img src="./images/team.jpg " alt="group of smiling people" width="680px" height="460px" class="prov-photo" />
            <div class="prov__descr">
              <span class="prov__sub-title">What you are looking for</span>
              <h2 class="prov__title">We provide bespoke solutions</h2>
              <p class="prov__text">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, ipsum
                dignissimos quae laudantium asperiores nam aliquid impedit harum illum dolore
                explicabo ab dolores itaque rerum temporibus doloribus iste maiores deleniti?
              </p>
              <button class="prov__button" type="button">Read more</button>
            </div>
          </div>
        </div>
      </section>