<section class="services-section">
  <h2 class="our-servicse-title">Our services</h2>
  <ul class="our-services">
    <li class="our-services-item">
      <a class="our-services-link" href="#">
        <svg class="services-icon">
          <use href="./images/sprite.svg#university"></use>
        </svg>
      </a>
      <h3 class="services-title">Investmant Banking</h3>
      <p class="services-text">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur,
        necessitatibus!
      </p>
    </li>
    <li class="our-services-item">
      <a class="our-services-link" href="#">
        <svg class="services-icon">
          <use href="./images/sprite.svg#book"></use>
        </svg>
      </a>
      <h3 class="services-title">Portfolio Manager</h3>
      <p class="services-text">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur,
        necessitatibus!
      </p>
    </li>
    <li class="our-services-item">
      <a class="our-services-link" href="#">
        <svg class="services-icon">
          <use href="./images/sprite.svg#pencil"></use>
        </svg>
      </a>
      <h3 class="services-title">Tax & Custudio</h3>
      <p class="services-text">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur,
        necessitatibus!
      </p>
    </li>
  </ul>
</section>
