<section class="team" id="blog">
  <div class="container">
    <p class="team-subtitle">Who we are</p>
    <h2 class="team-title">Our Professional Team</h2>
    <p class="team-desc">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>
    <ul class="team-list">
      <li class="team-item">
        <div class="team-member">
          <div class="team-thumb">
            <img src="./images/foto-1.jpg" alt="Man by the wall" width="420" />
            <div class="team-overlay">
              <ul class="social-actions">
                <li>
                  <a
                    class="team-social-link"
                    href=""
                    target="_blank"
                    rel="noopener noreferrer nofollow"
                  >
                    <svg width="35px" height="35px">
                      <use href="./images/sprite.svg#icon-facebook"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a
                    class="team-social-link"
                    href=""
                    target="_blank"
                    rel="noopener noreferrer nofollow"
                  >
                    <svg width="35px" height="35px">
                      <use href="./images/sprite.svg#icon-twitter"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a
                    class="team-social-link"
                    href=""
                    target="_blank"
                    rel="noopener noreferrer nofollow"
                  >
                    <svg width="40px" height="35px">
                      <use href="./images/sprite.svg#icon-youtube"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a
                    class="team-social-link"
                    href=""
                    target="_blank"
                    rel="noopener noreferrer nofollow"
                  >
                    <svg width="31px" height="35px">
                      <use href="./images/sprite.svg#icon-instagram"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="team-studio">
            <h3 class="team-item-title">John Doe</h3>
            <p class="team-item-text">President</p>
          </div>
        </div>
      </li>
      <li class="team-item">
        <div class="team-thumb">
          <img
            src="./images/foto-2.jpg"
            alt="The women is sitting"
            width="420"
            height="280"
          />
          <div class="team-overlay">
            <div>
              <ul class="social-actions">
                <li>
                  <a
                    class="team-social-link"
                    href=""
                    target="_blank"
                    rel="noopener noreferrer nofollow"
                  >
                    <svg width="35px" height="35px">
                      <use href="./images/sprite.svg#icon-facebook"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a
                    class="team-social-link"
                    href=""
                    target="_blank"
                    rel="noopener noreferrer nofollow"
                  >
                    <svg width="35px" height="35px">
                      <use href="./images/sprite.svg#icon-twitter"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a
                    class="team-social-link"
                    href=""
                    target="_blank"
                    rel="noopener noreferrer nofollow"
                  >
                    <svg width="40px" height="35px">
                      <use href="./images/sprite.svg#icon-youtube"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a
                    class="team-social-link"
                    href=""
                    target="_blank"
                    rel="noopener noreferrer nofollow"
                  >
                    <svg width="31px" height="35px">
                      <use href="./images/sprite.svg#icon-instagram"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="team-studio">
          <h3 class="team-item-title">Jane Doe</h3>
          <p class="team-item-text">Vice President</p>
        </div>
      </li>
      <li class="team-item">
        <div class="team-thumb">
          <img
            src="./images/foto-3.jpg"
            alt="Man with coffee and laptop"
            width="420"
          />
          <div class="team-overlay">
            <div>
              <ul class="social-actions">
                <li>
                  <a
                    class="team-social-link"
                    href=""
                    target="_blank"
                    rel="noopener noreferrer nofollow"
                  >
                    <svg width="35px" height="35px">
                      <use href="./images/sprite.svg#icon-facebook"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a
                    class="team-social-link"
                    href=""
                    target="_blank"
                    rel="noopener noreferrer nofollow"
                  >
                    <svg width="35px" height="35px">
                      <use href="./images/sprite.svg#icon-twitter"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a
                    class="team-social-link"
                    href=""
                    target="_blank"
                    rel="noopener noreferrer nofollow"
                  >
                    <svg width="40px" height="35px">
                      <use href="./images/sprite.svg#icon-youtube"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a
                    class="team-social-link"
                    href=""
                    target="_blank"
                    rel="noopener noreferrer nofollow"
                  >
                    <svg width="31px" height="35px">
                      <use href="./images/sprite.svg#icon-instagram"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="team-studio">
          <h3 class="team-item-title">Steve Smith</h3>
          <p class="team-item-text">Marketing Head</p>
        </div>
      </li>
    </ul>
  </div>
</section>
